.SearchResults {
    flex: 2;
    max-height: 40vmin;
}
.SearchResults .TrackList {
    /* height: 15em;
    overflow-y: auto; */
}
.SearchResults .Track {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;
}
.SearchResults .Track + .Track {
    border-top: 2px solid #3c3c3c;
}