.SearchBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SearchBar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.SearchBar input[type="text"] {
    margin: 8px;
    border-radius: 8px;
    border: none;
    padding: 4px;
    text-align: center;
    background-color: #2d2d2d;
    color: white;
    width: 80%;
    min-width: 20em;
    font-weight: 500;
}
.SearchBar input[type="text"]::placeholder {
    font-style: italic;
    font-weight: 200;
    color: gray;
}
.SearchBar input[type="text"]:focus {
    background-color: #fbfbfb;
    color: black;
    transition: background-color .5s;
}
.SearchBar button {
    margin-top: 8px;
    width: 50%;
    min-width: 10em;
}
@media only screen and (max-width: 700px) {
    .SearchBar {
        margin-bottom: 2vmin;
    }
}