.TrackDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.TrackDetails .TrackTitle {
    font-size: 0.75em;
    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.TrackDetails .TrackSubtitle {
    font-size: 0.5em;
    padding: 0.5em 1em 0.5em 0.5em;
}
.TrackDetails .TrackSubtitle span + span {
   margin-left: 1em;
}
.TrackDetails .TrackSubtitle .Artist,
.TrackDetails .TrackSubtitle .Album {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TrackDetails .TrackSubtitle .Artist {
    max-width: 20em;
}
.TrackDetails .TrackSubtitle .Album {
    color: gray;
    max-width: 18em;
}
.Track button {
    font-size: 10px;
}