h2 { font-size: 16px; }

button {
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.1s;
    height: 2.5em;
}
button.standard {
    background-color: #1a972b;
    padding: 8px 16px;
    min-width: 5em;
    width: 15em;
}
button.standard:disabled {
    background-color: gray;
    color: lightgray;
    cursor: not-allowed;
}
button.subtle {
    background-color: transparent;
    padding: 4px 4px;
    min-width: 3em;
    color: #1a972b;
}
button:hover {
    background-color: #6ae77b;
    color: white;
}

.App {
    background-color: #0f3c2e;
    text-align: center;
}

.App-header {
    background-color: #1d2122;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10vmin;
}
.App-header .mmm {
    display: inline;
    color: #6ae77b;
}
.App-header h2 {
    margin-left: 1em;
    font-style: italic;
    color: lightgray;
}
.App-content-wrapper {
    overflow: hidden;
    position: relative;
    height: 90vmin;
}
.App-content-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
    filter: grayscale(100%);
}
.App-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: white;
    font-size: calc(10px + 2vmin);
}
.App-content-section {
    display: flex;
    flex-direction: row;
    width: 90%;

    background-color: rgb(40, 44, 52, 0.75);
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}
.App-content-section:nth-child(1) { flex: 2; }
.App-content-section:nth-child(2) { flex: 1; }

