html {
    font-size: 16px;
}
html, body, div#root, div#root > div {
    height: 100vh;
}

h1 { font-size: 2.5rem; margin: 0; }
h2 { font-size: 1.25rem; margin: 0; }
h3 { font-size: 1rem; margin: 0; }
footer {
    color: #ffffff;
    opacity: 0.25;
    font-size: 0.75rem;
}
button {
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.1s;
    height: 2.5em;
}
button.standard {
    background-color: #e6772d;
    /* background-color: #1a972b; */
    padding: 8px 16px;
    min-width: 5em;
    width: 15em;
}
button.standard:disabled {
    background-color: gray;
    color: lightgray;
    cursor: not-allowed;
}
button.subtle {
    background-color: transparent;
    padding: 4px 4px;
    min-width: 3em;
    color: #e0801a;
    /* color: #1a972b; */
}
button:hover {
    background-color: #ff9d5b;
    /* background-color: #6ae77b; */
    color: white;
}

.App {
    background-color: #6d1717;
    /* background-color: #0f3c2e; */
    text-align: center;
    /* height: 100vmin; */
    /* filter: grayscale(100%); */
    min-width: 360px;
}
.App-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: grayscale(100%);

    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.App-content-wrapper {
    overflow: hidden;
    position: relative;
    /* height: 90vmin; */
}
.App-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: white;
}
.App-content-section {
    display: flex;
    flex-direction: row;
    width: 90%;

    background-color: rgb(25, 25, 25, 0.75);
    border-radius: 1vmin;
    margin: 1vmin;
    padding: 2vmin;
}
.App-content-section.Startup { justify-content: center; }
.App-content-section.Startup button + button { margin-left: 1em; }
.App-content-section:nth-child(1) { flex: 2; }
.App-content-section:nth-child(2) { flex: 1; }

@media only screen and (max-width: 700px) {
    html, body, div#root, div#root > div {
        height: auto;
        min-height: 100vh;
    }
    .App-content-section {
        flex-direction: column;
    }
    .App-content-section.Startup { align-items: center; }
    .App-content-section.Startup button + button {
        margin-left: 0;
        margin-top: 1em;
    }
}